
@media (max-width : 1000px) {
    
    .top__heading {
        display: block;
    }
    .top__content {
        width: 100%;
        padding-top: 30px;
    }
    .top__slider {
        width: 100%;
    }
    .top__bottom {
        display : block;
    }
    .top__links {
        padding-right: 0;
        padding-top: 30px;
        text-align: center;
    }
    .top__items {
        width: 100%;
    }
}




@media (max-width : 860px){

    .menu {
        order : 1;
    }

    .menu__list {
        display: block;
        position: absolute;
        top : 100px;
        left : 0;
        background-color: #332208;
       right: 0;
       text-align: center;
        transform: translateY(-300%);
        transition: all .6s;
    }
    .menu__list.menu__list--active{
        transform: translateY(0);
        transition: all .6s;
    }

    
    .menu__list-link{
        padding: 20px 0;
        display : block;
    }

    .menu__btn {
        display: block;
        width: 35px;
        height: 24px;
        border : none;
        border-top : 2px solid #fefefe;
        border-bottom: 2px solid #fefefe;
        background-color: transparent;  
        position: relative;
    }
    .menu__btn::before{
        content : '';
        position: absolute;
        width: 35px;
        height: 2px;
        background-color: #fefefe;
        left : 0;
        top : 9px;
    }

}

@media (max-width : 525px){

.top__items {
    flex-wrap: wrap;
}
.top__item {
    margin: 20px;
}
.top__slider-text {
    padding-right: 0;
}
}
@media (max-width : 410px){
    .top__item {
        width: 100%;
    }
    .top__link + .top__link{
        margin-left: 0;
    }
    .top__links{
        text-align: center;
    }
    .top__link {
        margin: 10px 15px;
        display: inline-block;
    }
}

